---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { SITE } from "@config";

// 本当はgetEntryBySlug()で取得したい
const about = await getCollection("about");

const { Content } = await about[0].render();
---

<Layout title={`About | ${SITE.title}`}>
    <Header activeNav="about" />
    <Breadcrumbs />
    <main id="main-content">
        <section id="about" class="prose mb-28 max-w-3xl prose-img:border-0">
            <h1 class="text-2xl tracking-wider sm:text-3xl">About</h1>
            <Content />
        </section>
    </main>
    <Footer />
</Layout>
